In [9]:
import pandas as pd
import numpy as np

In [10]:
gadgets=[
    ("Explosive Batarangs",3,True),
    ("Batarangs",5,True),
    ("Smoke Pallets",0,False),
    ("Tear Gas Grenades",2,True),
    ("Night Vision Goggles",1,True),
    ("Batclaw",0,False),
    ("Grape Gun",3,True),
    ("Batsignal",0,False),
    ("Utility Belt",1,True),
    ("Batmobile",4,True)
]

In [11]:
df=pd.DataFrame(gadgets)
df

                      0  1      2
0   Explosive Batarangs  3   True
1             Batarangs  5   True
2         Smoke Pallets  0  False
3     Tear Gas Grenades  2   True
4  Night Vision Goggles  1   True
5               Batclaw  0  False
6             Grape Gun  3   True
7             Batsignal  0  False
8          Utility Belt  1   True
9             Batmobile  4   True

In [17]:
df.rename(columns={0:'product_name',1:'quantity',2:"in_stock"},inplace=True)

In [19]:
df.head()

           product_name  quantity  in_stock
0   Explosive Batarangs         3      True
1             Batarangs         5      True
2         Smoke Pallets         0     False
3     Tear Gas Grenades         2      True
4  Night Vision Goggles         1      True